@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    font-family: "Poppins", serif;  
}

/* Selecciona toda la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra vertical */
    height: 12px; /* Altura de la barra horizontal */
  }
  
  /* Fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del track */
    border-radius: 10px; /* Esquinas redondeadas */
  }
  
  /* Color y estilo de la barra */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color de la barra */
    border-radius: 10px; /* Esquinas redondeadas */
    border: 2px solid #f1f1f1; /* Espacio entre la barra y el track */
  }
  
  /* Color de la barra cuando se pasa el mouse encima */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color más oscuro al pasar el mouse */
  }
  